@charset "UTF-8";

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.list {
    display:flex;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    justify-content: center;
}

.list li {
    margin-left:35px;
    margin-right:35px;
}